#map { height: 1000px; }
body {
  background-color: #FFE4C4;
  color: #D2691E;
  font-family: Arial, sans-serif;
  text-align: center;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
